
body{
    baackground-color: #333333;
}

h1{
    font-size: 20px;
    text-align:center;
    background-color: aliceblue;
    padding-top: 0px;
    margin-top: 50px;
    display:block;
    margin:0 auto;
}

h6{
    font-family: 'Righteous', cursive;
    font-weight:300;
    font-size: 100px;
    text-align: center;
    background: center;
    background-color: antiquewhite;
    box-size:border-box;
    border:1px solid #444444;
    -webkit-box-shadow:0px 5px 5px #999999;
    -moz-box-shadow:0px 5px 5px #999999;
    box-shadow:0px 5px 5px #999999,
    0px 5px 5px #999999,
    0px 5px 5px #999999,
    0px 5px 5px #999999,
    0px 5px 5px #999999,
    0px 5px 5px #999999;


}

.container{

}
.one{
    background-color: #777777;
    width:220px;
    display: inline-block;
    margin:0 auto;
    text-align:center;
    margin:10px;

}
.two{
    background-color: #777777;
    width:220px;
    display: inline-block;
    margin:0 auto;
    text-align:center;
    margin:10px;

}
.three{
    background-color: #777777;
    width:220px;
    display: inline-block;
    margin:0 auto;
    text-align:center;
    margin:10px;

}
.four{
    background-color: #777777;
    width:220px;
    display: inline-block;
    margin:0 auto;
    text-align:center;
    margin:10px;

}
.five{
    background-color: #777777;
    width:220px;
    display: inline-block;
    margin:0 auto;
    text-align:center;
    margin:10px;

}
.demo{
background-color: black;
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
}
.container_image{
    background-image: url(../image/images.jpg);
    width:100%;
    height: auto;
    background-size:cover;
    display:block;
    margin:0 auto;
    background-attachment: fixed;
}